body {
  font-family: Arial, sans-serif, system-ui,
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #151414;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #921dd1, #191ccc, #540e6a);
  border-radius: 20px;
  padding: 2px;
  flex: 1;
}

input[type="text"] {
  padding: 12px 10px;
  font-size: 1em;
  border: none;
  border-radius: 18px 0 0 18px;
  background-color: #151414;
  color: white;
  outline: none;
  text-align: center;
  width: 100%;
}

button[type="submit"] {
  padding: 12px 20px;
  font-size: 1em;
  background-color: #9047e3;
  color: #fff;
  border: none;
  border-radius: 0 18px 18px 0;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #8431e2;
}

.icon-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 90px;
  box-shadow: 0 0 5px rgba(135, 136, 135, 0.5);
  border-radius: 50%;
  filter: invert(1);
}

.loading {
  font-style: italic;
  color: #777;
}

.user-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  width: 160px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-info h2 {
  margin: 10px 0;
  cursor: pointer;
  font-size: 30px;
}

.user-stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.user-stat {
  color: #a7a8af;
  padding: 10px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.user-stat span {
  font-size: 1.6em;
  font-weight: bold;
  color: #32bfaa;
  cursor: pointer;
}

.user-link {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 10px;
  background-color: #9047e3;
  color: #ffffff;
  border: 1px solid rgba(28, 28, 28, 0.5);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  border-radius: 20px;
}

.user-link:hover {
  background-color: #8230e0;
}

.user-repos {
  margin-top: 50px;
  width: 600px;
}

.user-repos h3 {
  margin-bottom: 10px;
  text-align: left;
  font-size: 25px;
}

.repo-item {
  background-color: #222123;
  box-shadow: 0 0 8px rgba(33, 32, 32, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.repo-item .repo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.repo-item .repo-updated {
  color: #918d8d;
  font-size: 14px;
}

.repo-item a {
  color: #32bfaa;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.repo-item a:hover {
  text-decoration: underline;
}

.repo-item p {
  margin: 2px 0;
  color: #f4f4f4;
  font-size: 16px;
}

.user h2 {
  font-size: 20px;
  color: #ffffff;
}

.user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.user p {
  font-size: 16px;
  margin: 5px 0;
  color: #ffffff;
}

.user ul {
  list-style: none;
  padding: 0;
}

.user ul li {
  font-size: 16px;
  margin-bottom: 5px;
  color: #ffffff;
}